.movieRow {
  margin-bottom: 30px;
}

.movieRowTitle {
  margin: 0px 0px 0px 30px;
}

.movieRowListContainer {
  overflow-x: hidden;
  padding-left: 30px;
}

.movieRowListItem {
  display: inline-block; 
  width: 150px;
  cursor: pointer;
}

.movieRowListItem img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.movieRowListItem img:hover {
  transform: scale(1);
}

.movieRowList {
  transition: all ease 0.5s;
}

.movieRowButtonLeft, .movieRowButtonRight {
  position: absolute;
  width: 44px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.48s;
}

.movieRowButtonLeft {
  left: 0;
}

.movieRowButtonRight {
  right: 0;
}

.movieRow:hover .movieRowButtonLeft{
  opacity: 1;
}

.movieRow:hover .movieRowButtonRight{
  opacity: 1;
}

@media (max-width:760px) {
  .movieRowButtonLeft, .movieRowButtonRight{
    opacity: 1;
  }
}