.profileCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  color: #999;
  margin: 0.9vw;
  gap: 10px;
  cursor: pointer;
}

.profileCard:hover > img {
  outline: 2px solid white;
}

.profileCard:hover {
  color: white;
}

.profileCard img {
  width: 9vw;
  min-width: 80px;
  max-width: 200px;
  border-radius: 4px;
}

@media (max-width:960px) {
  .profileCard {
    font-size: 13px;
    margin: 8px;
  }
}