.loginFormContainer {
  display: flex;
  justify-content: center;
  width: 75%;
}

.loginForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginForm input {
  padding: 10px;
  width: 100%;
}

.loginForm button {
  padding: 10px;
  width: 100%;
}

.loginWindowTitle {
  font-size: 30px;
}

.rememberUserCheckBox{
  font-size: 20px;
  display: inline-block;
}

.rememberUserLabel{
  font-size: 20px;
  display: inline;
  
}