.loginFormContainer {
  width: 400px;
  height: 100%;
  padding: 0px 40px;
}

.loginForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginError {
  color: #e50914;
  transition: all ease 0.5s;
  padding-top: 10px;
}

.loginForm button {
  transition: ease all 0.5s;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.loginWindowTitle {
  font-size: 30px;
  margin-top: 60px;
}

.rememberUserCheckBoxContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 13px;
  color: #bbb;
}

.rememberUserCheckBoxContainer span {
  cursor: pointer;
}

#rememberUserCheckbox {
  height: 17px;
  width: 17px;
  margin: 0px;
  background-color: #eee;
  border-radius: 50%;
  color: #333;
  position: absolute;
  filter: invert(100%) saturate(0);
  cursor: pointer;
}

#rememberUserCheckbox:checked{
  background-color: red;
}

.rememberUserLabel{
  margin-left: 21px;
  cursor: pointer;
}

.connectWithFacebook {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  font-size: 13px;
  color: #999;
  cursor: pointer;
}

.facebookLogo {
  height: 18px;
}

.registerNow {
  margin-top: 16px;
  font-size: 15px;
  color: #999;
}

.registerNow a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-left: 4px;
}

.registerNow a:hover {
  text-decoration: underline;
}

.recaptchaInfo {
  margin-top: 16px;
  font-size: 13px;
  color: #999;
}

.recaptchaInfo a {
  text-decoration: none;
  color: #007bff;
  margin-left: 4px;
}

.recaptchaInfo a:hover {
  text-decoration: underline;
}