.signInFormContainer {
  display: flex;
  width: 75%;
}

.signInForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signInForm input {
  padding: 10px;
  width: 100%;
}

.signTitle {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.signInForm button {
  padding: 10px;
  width: 100%;
}

.registerNow {
  margin-top: 18px;
  font-size: 15px;
  color: #999;
}

.loginNow a {
  color: white;
  text-decoration: none;
  margin-left: 4px;
}

.loginNow a:hover {
  text-decoration: underline;
}