.loginAndSignInForm {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.backgroundLoginImg {
  z-index: -100;
  position: fixed;
  height: 130vh;
  opacity: 0.8;
}

.loginWindow {
  background: rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  display: flex;
  height: 600px;
  width: 410px;
  justify-content: center;
  align-items: top;
}

.loginForm input, .signInForm input {
  background-color: rgb(51, 51, 51);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 0px 10px;
  height: 48px;
  color: white;
  margin-top: 16px;
}

.loginForm button, .signInForm button {
  color: white;
  border: none;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: #e50914;
  margin-top: 35px;
  cursor: pointer;
}

.loginForm input::placeholder, .signInForm input::placeholder {
  color: #999999;
  padding: 5px;
}

.loginAndSignInForm a img {
  height: 42px;
  filter: brightness(1.1);
  position: absolute;
  top: 20px;
  left: 20px;
}